<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="~/images/Logo_nav.PNG" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">

        </div>
        <div class="navbar-end">
            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                Home
            </a>
            <a class="navbar-item">
                Comparison
            </a>
            <a class="navbar-item">
                Verification
            </a>

            <a class="navbar-item" asp-area="" asp-controller="MyPeople" asp-action="PersonDisplay">
                People
            </a>

            <a class="navbar-item" asp-area="" asp-controller="Account" asp-action="Account">
                My Account
            </a>

        </div>


    </div>
</nav>


           