@{
    ViewData["Title"] = "Home Page";
}


<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                This is Account bois
            </h1>
            <h2 class="subtitle">
                it's great
            </h2>
        </div>
    </div>
</section>

<br />
<div class="columns is-variable is-8">
    <div class="column">
        <div class="columns">
            <div class="column has-text-centered is-centered">
                <figure class="image is-128x128 has-text-centered is-centered " style="margin-left:auto;margin-right:auto">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
                <br />
                <a class="button is-medium is-centered">
                    <span class="icon is-medium">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Log-out</span>
                </a>
            </div>
            <div class="column">
                <div class="content">
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Name</b></td>
                                <td>Peter Sample</td>
                            </tr>
                            <tr>
                                <td><b>Email</b></td>
                                <td>peter@example.com</td>
                            </tr>
                            <tr>
                                <td><b>Phone Number</b></td>
                                <td>+5215555525232</td>
                            </tr>
                            <tr>
                                <td><b>Address</b></td>
                                <td>316 ave seijhiohijihihiihhih ihhiihhihihhihihihiihihhii</td>
                            </tr>
                            <tr>
                                <td><b>Organization</b></td>
                                <td>ITESM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <p class="title is-4">Credits</p>
                    <p class="subtitle is-5">200</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-text-centered">
                    <a class="button is-large is-centered">
                        <span class="icon is-medium">
                            <i class="fas fa-plus-square"></i>
                        </span>
                        <span>Add credits</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="box">
            <p class="title is-4">Change password</p>
            <div class="field">
                <label class="label">Previous password</label>
                <div class="control">
                    <input class="input" type="text" placeholder="**********">
                </div>
            </div>
            <div class="field">
                <label class="label">New password</label>
                <div class="control">
                    <input class="input" type="text" placeholder="**********">
                </div>
            </div>
            <a class="button is-large is-centered">
                <span class="icon is-medium">
                    <i class="fas fa-exchange-alt"></i>
                </span>
                <span>Change</span>
            </a>
        </div>
    </div>
</div>

