@{
    ViewData["Title"] = "Home Page";
}
<div>
    <style>
        .whiteFinger {
            color: white;
            font-size: 15px;
        }

        .whiteHuella {
            color: white;
            font-size: 40px;
        }

        .white {
            color: white;
            font-size: 15px;
        }

        .fondoVerde {
            width: 450px;
            background-color: cadetblue;
            margin: auto;
            margin-top: 100px;
            padding: 40px;
            border-radius: 20px;
        }

        .centrado {
            width: 300px;
            margin: auto;
        }

        .justificado {
            margin: 0px 35px 0px;
        }




        .Forgot {
            margin-bottom: 20px;
        }

        .borde {
            border-bottom-style: groove;
            border-top-style: groove;
            border-left-style: groove;
            border-right-style: groove;
            border-width: 3px;
            border-radius: 7px;
            padding-left: 100px;
            padding-right: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    </style>

    <div class="fondoVerde">
        <div class="logo columns">
            <div class="column is-one-quarter justificado2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Fingerprint_picture.svg/200px-Fingerprint_picture.svg.png">
            </div>
            <div class="column justificado2 whiteHuella">
                <p class="whiteHuella">Huellador <br /></p>
                <p class="whiteFinger">Finger print recognition</p>
            </div>
        </div>

        <div class="formulario white">
            <div class="Forgot">Forgot your password? Enter your e-mail and we´ll send you a new one </div>
            <label class="label justificado white">Email</label>
            <div class="control has-icons-left has-icons-right centrado">
                <input class="input is-left" type="email" placeholder="e-mail" value="">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right"></span>
            </div>

            <div class="justificado borde">
                <a class=" white" href="www.google.com">Reset Password </a>
            </div>
        </div>

    </div>
</div>