<section class="hero is-primary" style="margin-bottom:20px">
        <div class="hero-body">
          <div class="columns">
              <div class="column">
            <h1 class="title">
              Edit coin packages
            </h1>
            <h2 class="subtitle">
              Change the system's prices
            </h2></div>
            <div class="column">
              <a href="./OrganizationView" class="button">Edit Organizations</a>
              <a href="./UserView" class="button">Edit Users</a>
              <a href="./PackageView" class="button is-primary">Edit Packages</a>
      
            </div>
          </div>
        </div>
      </section>

<div class="columns">
    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Coins</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Paq 1</td>
                    <td>
                        <input placeholder="100" class="input" type="text">
                    </td>
                    <td>
                        <input placeholder="$120,000.00" class="input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Paq 2</td>
                    <td>
                        <input placeholder="100" class="input" type="text">
                    </td>
                    <td>
                        <input placeholder="$120,000.00" class="input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Paq 3</td>
                    <td>
                        <input placeholder="100" class="input" type="text">
                    </td>
                    <td>
                        <input placeholder="$120,000.00" class="input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Paq 4</td>
                    <td>
                        <input placeholder="100" class="input" type="text">
                    </td>
                    <td>
                        <input placeholder="$120,000.00" class="input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Paq 5</td>
                    <td>
                        <input placeholder="100" class="input" type="text">
                    </td>
                    <td>
                        <input placeholder="$120,000.00" class="input" type="text">
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="button">Save</a>
    </div>
    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Coins</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Verification</td>
                    <td>
                        <input placeholder="20" class="input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Verification 2</td>
                    <td>
                        <input placeholder="20" class="input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Comparison</td>
                    <td>
                        <input placeholder="20" class="input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Comparison 2</td>
                    <td>
                        <input placeholder="20" class="input" type="text">
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="button">Save</a>
    </div>

</div>