

<section class="hero is-primary" style="margin-bottom:20px">
  <div class="hero-body">
    <div class="columns">
        <div class="column">
      <h1 class="title">
        User Admin
      </h1>
      <h2 class="subtitle">
        Add, edit and delete users.
      </h2></div>
      <div class="column">
        <a href="./OrganizationView" class="button">Edit Organizations</a>
        <a href="./UserView" class="button is-primary">Edit Users</a>
        <a href="./PackageView" class="button">Edit Packages</a>

      </div>
    </div>
  </div>
</section>

<style>
.black{
    color:black !important}
</style>
<div style="overflow-x: auto;">
<table class="table is-striped is-narrow" style="margin:auto" >
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Organization</th>
            <th>Is Admin?</th>
            <th>Credits</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Daniel</td>
            <td>ITESM</td>
            <td>Yes</td>
            <td>200</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
            <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ottmar</td>
            <td>FBI</td>
            <td>No</td>
            <td>10</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Florian</td>
            <td>Polytechnique au France</td>
            <td>Yes</td>
            <td>2000</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr class="is-selected">
            <td>1</td>
            <td>Daniel</td>
            <td>ITESM</td>
            <td>Yes</td>
            <td>200</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ottmar</td>
            <td>FBI</td>
            <td>No</td>
            <td>10</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Florian</td>
            <td>Polytechnique au France</td>
            <td>Yes</td>
            <td>2000</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>        <tr>
            <td>1</td>
            <td>Daniel</td>
            <td>ITESM</td>
            <td>Yes</td>
            <td>200</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ottmar</td>
            <td>FBI</td>
            <td>No</td>
            <td>10</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Florian</td>
            <td>Polytechnique au France</td>
            <td>Yes</td>
            <td>2000</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>        
        <tr>
            <td>1</td>
            <td>Daniel</td>
            <td>ITESM</td>
            <td>Yes</td>
            <td>200</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ottmar</td>
            <td>FBI</td>
            <td>No</td>
            <td>10</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Florian</td>
            <td>Polytechnique au France</td>
            <td>Yes</td>
            <td>2000</td>
            <td><a class="button black">Make Admin </a></td>
            <td><a class="button black">Add Credits </a></td>
             <td><a class="button is-danger">Delete User</a></td>
        </tr>
    </tbody>
</table>    