@{
    ViewData["Title"] = "Home Page";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                This is People bois
            </h1>
            <h2 class="subtitle">
                it's amazing
            </h2>
        </div>
    </div>
</section>

<br />

<div class="columns is-variable is-8">
    <div class="column">
        <div class="columns">
            <div class="column">
                <div class="card">
                  
                    <div class="card-content">

                        <div class="content has-text-centered">
                            <p class="title is-5" style="padding-bottom:10px;">Joe Smith</p>
                            <p class="subtitle is-6">Id: 4565751</p>
                            
                            <a asp-area="" asp-controller="MyPeople" asp-action="PrintDisplay" class="button is-medium" style="margin-right: 25%;">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a class="button is-medium">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    
                    <div class="card-content">

                        <div class="content has-text-centered">
                            <p class="title is-5" style="padding-bottom:10px;">Joe Smith</p>
                            <p class="subtitle is-6">Id: 4565751</p>
                            <a asp-area="" asp-controller="MyPeople" asp-action="PrintDisplay" class="button is-medium" style="margin-right: 25%;">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a class="button is-medium">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                  
                    <div class="card-content">

                        <div class="content has-text-centered">
                            <p class="title is-5" style="padding-bottom:10px;">Joe Smith</p>
                            <p class="subtitle is-6">Id: 4565751</p>
                            <a asp-area="" asp-controller="MyPeople" asp-action="PrintDisplay" class="button is-medium" style="margin-right: 25%;">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a class="button is-medium">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="columns">
            <div class="column">
                <div class="card">
                 
                    <div class="card-content">

                        <div class="content has-text-centered">
                            <p class="title is-5" style="padding-bottom:10px;">Joe Smith</p>
                            <p class="subtitle is-6">Id: 4565751</p>
                            <a asp-area="" asp-controller="MyPeople" asp-action="PrintDisplay" class="button is-medium" style="margin-right: 25%;">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a class="button is-medium">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                  
                    <div class="card-content">

                        <div class="content has-text-centered">
                            <p class="title is-5" style="padding-bottom:10px;">Joe Smith</p>
                            <p class="subtitle is-6">Id: 4565751</p>
                            <a asp-area="" asp-controller="MyPeople" asp-action="PrintDisplay" class="button is-medium" style="margin-right: 25%;">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a class="button is-medium">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
</nav>






<!--
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content has-text-centered">
                        <p class="title is-5">Joe Smith</p>
                        <a class="button is-medium" style="margin-right: 25%;">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a class="button is-medium">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>-->
